.SearchFailedMassage{
  padding-top: 50px;
  font-size: 1.2em;
  text-align: center;
  background-size: cover;
  background: #b6b6b6 fixed;
  text-shadow: 1px 1px 5px #ffffff;
  color: #b23238;
  height: 100vh;
}