.Button {
  background-color: #a8a8a8;
  border: none;
  border-radius: 7px; }
  .Button:hover {
    background-color: #2070ff; }
  .Button:focus {
    background-color: #2070ff;
    outline: none; }

.ChangePage__Button {
  display: inline-block;
  height: 30px;
  width: 30px; }

.Header__Button {
  height: auto;
  width: auto;
  margin: 10px;
  font-size: 0.8em; }

.Header_ChangeLanguage {
  border-radius: 0; }

@media screen and (max-width: 950px) {
  .Header__Button {
    min-width: 250px; } }
