.App {
  text-align: center;
}


.App-header {
  background-color: #222;
  padding: 20px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.App__MenuButton{
  font-size: 1.5em;
  color: white;
  height: 40px;
  padding: 3px;
  border-radius: 10px;
  background-color: #b6b6b6;
  margin-right: 20px;
  position: absolute;
  display: none;
}


.App__LogoWrapper{
  display: flex;
  align-items: center;
  font-family: cursive;
  font-size: 1.2em;
  color: white;
}

.App__MainMenu{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  font-size: 1.2em;
  background-color: #222;
}

.App__LoadIndicator{
  padding-top: 200px;
  font-size: 1.3em;
  font-weight: bold;
  margin-left: auto;
  background-color: #b6b6b6;
  background-image: url('./../movie.jpg');
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.App__NoResults{
  padding-top: 50px;
  font-size: 1.2em;
  margin-left: auto;
  background-color: #b6b6b6;
  background-image: url('./../movie.jpg');
  background-size: cover;
  background-attachment: fixed;
  text-shadow: 1px 1px 5px #ffffff;
  color: #b23238;
  height: 100vh;
}

.App__Error{
  margin-top: 15px;
  margin-left: 15px;
  width: 400px;
  line-height: 25px;
  background-color: rgb(247, 197, 204);
  border-radius: 5px;
  border: 2px solid #ff4149;
  color: #9d0000;
  font-size: 1em;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
  display: inline-block;
}


.App-Title{
  display: inline-block;
  padding-left: 15px;
  font-size: 1em;
}

.Main__Search{
  background-color: #f7f7f7;
  border-radius: 5px;
  border: none;
  height: 20px;
  padding: 3px;
  margin-right: 5px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}



@media screen and (max-width: 1200px){

  .App__LogoWrapper {
    flex-basis: 90%;
    text-align: center;
  }

}

@media screen and (max-width: 950px){

  .App{
    width: 100%;
  }


  .App-header {
    display: flex;
    flex-flow: nowrap;
  }

  .App__MainMenu {
    flex-flow: column;
    padding: 10px;
    position: absolute;
    top: 80px;
    left: 0;
    z-index: 100;
    height: 100%;
    transition-property: left;
    -moz-transition-property: left;
    transition-duration: 0.5s;
  }

  .App__MenuButton{
    position: relative;
    display: block;
  }

  .Main__MenuCover{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(150,150,150,0.4);
    z-index: 50;

  }



}

